<!DOCTYPE html>
<div layout-align="center center" class="sr-only native-hide">
   <h2>CareerRadar - the FREE careers tool that uses emotional intelligence to give personalised careers advice</h2>
   <p>CareerRadar's matching engine analyses the personality traits, hobbies and interests, and the educational profile of each user and matches them with the careers in our database that fit most closely.</p>
   <h2>CareerRadar is the cost-effective careers solution for schools, colleges and youth  organisations</h2>
   <p>CareerRadar is a not-for-profit organisation. We charge schools and colleges just what we need to run the service &ndash; provind them with a true value for money solution.</p>
   <p>Schools, colleges and other organisations use the CareerRadar for Teams product. It has all the same features as the free app, as well as adding some really powerful features that allow staff to get a handle on all their users, the individual career advice they've been given, and to dive into the data. CareerRadar for Teams' analytics tools will surprise you with what it shows you about the users in your organisation. Want to see who the most extrovert users are? Which users learn best through 'doing'? Which of your team are the best 'big picture' thinkers? Or who to trust with tasks that require attention to detail? Want to see what to do to energise that team member who seems demotivated? CareerRadar for Teams does all this and more, at a remarkably low price. </p>
</div>
<div class="block homepage-hero" ng-controller="registerController" >
   <h2 class="native-hide">Connect with the world of&nbsp;work</h2>

    <div class="login native-show" ng-hide="registering">
        <div ng-controller="loginController" ng-cloak ng-hide="$root.authenticated">
           <form name="loginForm" ng-submit="submit(login)"> 
              <input ng-model="login.username" name="username" type="text" placeholder="Email address" ng-required="true"
                 notfound /> <input ng-model="login.password" name="password" type="password" placeholder="Password"
                 ng-required="true" incorrect />
              <md-button md-no-ink type="submit" class="md-raised md-primary">Log In</md-button>
           </form>
        </div>
    </div> 

   <button ng-hide="registering" ng-click="setRegister()" class="ng-cloak native-hide">Sign Up</button>	
   <div class="margin-bottom30px">
    <a class="small native-show" ng-hide="registering"  ng-click="forgottenpassword()">Forgotten your password?</a>
   </div>
   <a class="native-show" ng-hide="registering" ng-click="setRegister()">Create account</a>
   <p class="native-hide" ng-hide="registering && !isMobileDevice">The careers tool that <b>really</b> understands&nbsp;you</p>

   <!--<p class="help-us native-hide"><a ng-hide="registering"  ng-click="onSurvey()">Already got a job? &nbsp;&nbsp;Help us improve our matching algorithms...</a></p>-->
   
   <!--a ng-hide="registering" href="/login">Sign in with an existing account</a>-->



 
</div>

   

<div class="block homepage2-default native-hide">
   <h3>Find your ideal career</h3>
   <img src="img/find-your-career.png" alt="CareerRadar matches your personality against thousands of careers and suggests the best matches for you"></img>
   <p><i class="fa fa-checked-hex"></i>Find the careers that are best suited to your personality, interests and education</p>

   <p><i class="fa fa-checked-hex"></i>Find out what each job involves on a day-to-day basis.</p>

   <p><i class="fa fa-checked-hex"></i>Discover jobs that you may not have heard of before.</p>
</div>


<div class="block homepage3-default native-hide">
     <h3><img src="img/career-intelligence.png" alt="CareerRadar uses artificial intelligence to match young people with careers"></img>
     CareerRadar's intelligent <b>career matching</b> engine gets to know you as an individual, and makes suggestions based on what it&nbsp;learns.
    </h3>

</div>

<div class="block homepage4-default native-hide">
    <h3>Build your network, and see how you&nbsp;fit</h3>
     <img src="img/build-your-network.png" alt="CareerRadar's network tool allows you to connect to your friends and colleagues and compare your personality with theirs"></img>

      <p>See other users’ personality traits mapped out visually</p>
      <p>View their profiles, the careers suggested for them, and their favourites.</p>
      <p>Connect with your children or young people you mentor</p>

</div>
 
<div class="block homepage-how-it-works native-hide" ng-click="onHowItWorks();">
    <h3><i class="fa fa-pointer-up"></i>See how it works, and how <b>super easy</b> we've made it to get careers advice.</h3>
    <p class="sr-only">CareerRadar is designed to really easy to use. Within a few minutes using our FREE app you'll be getting truly personalised advice about which jobs and careers are best suited to your character and personality, your hobbies and interests, and your education. Our matching algorithm uses emotional intelligence analytics techniques to match you to a short list of careers from our huge database. Save the careers that you are most interested in, and find all about what the job actually involves on a day-to-day basis.</p>
</div>


<div class="block homepage5-default native-hide" ng-if="!isMobileDevice">
    <h3>CareerRadar for Teams</h3>
    <p>Take your career advice or personnel management to the next level with <b>CareerRadar</b> for your school, college, business, or&nbsp;organisation.</p>

    <img src="img/career-radar-teams.png" alt="CareerRadar for Teams adds analytics data views, and tools to manage your organisation's users and groups"></img>

      <p>User management, analytics, data export, and more.</p>
      <md-button md-no-ink class="md-primary md-raised md-large" ng-click="onForTeams();scrollTop()" ng-hide="isMobileDevice">Find Out More</md-button>

</div>


